.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 80vh;
    margin-top: 4rem;
      /* scroll */
  padding-top: 3rem;
}

.c-left{
    text-align: start !important;
    padding-top: 25px;
    /* color: rgb(1, 4, 39) !important; */
}

.c-right{
    
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right>form
{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-items: center;
    
}

.c-right .user{
    width: 25rem;
    height: 3.5rem;
    padding-left: 20px;
    outline: none;
    /* border: 2px solid #0f0654; */
    border-radius: 15px;
    border: none;
    font-size: 16px;
    color: white;
}

/* .c-right .user:hover{
    box-shadow: 0 0 9px #1b0895;
} */

input{
    background-color: #121214;
}
textarea{
    padding-top: 10px;
    height: 5rem!important;
    background-color: #121214;
}

.done{
    font-size: 11px;
    color: green;
}
.not-done{
    font-size: 11px;
    color: red;
}

.c-blur1{
    top: 1rem;
    left: 8rem;
}

@media screen and (max-width: 480px) {
    .contact-form{
        padding: 0;
        flex-direction: column;
        gap: 5rem;
        height: 40rem;
    }
    .c-right .user{
        width: 16rem;
    }
    

}